content
 container
    .how-it-work
      h1 How Dreamshare works?
      .steps
        .step.step-1
          .button STEP 1
          h2
            | Sed leo enim, condimentum
          h3
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet
            | facilisis.
        .step.step-2
          .button STEP 2
          h2
            | Morbi velit risus
          h3
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
        .step.step-3
          .button STEP 3
          h2
            | Sed leo enim, condimentum
          h3
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet
            | facilisis.
 container
    .meet-partner
      h1  Meet a partner for your best holiday
      .persons
        .people1
          .person
            .photo1
            p.name Bradley Hunter
            a Based in Chicago. I love playing tennis and loud music.
          .person
            .photo2
            p.name Marie Bennett
            a  Currently living in Colorado. Lover of art, languages and travelling.
        .people1
          .person
            .photo3
            p.name Diana Wells
            a
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
          .person
            .photo4
            p.name Christopher Pierce
            a Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button2
        a See other partners
 container
    .ideas
      h1 Discover holiday activity ideas
      .box
        .sport
          .mask  
          p.text Sports and Activis
        .health
          .mask  
          p.text  Wellness and Health
        .extreme
          .mask  
          p.text
            | Extreme Sports
            | and Expeditions
      .box
        .games
          .mask  
          p.text Games
        .culture
          .mask-big  
          p.text-big Culture and Education
      .box
        .enjomet
          .mask-big
          p.text-big  Enjomet and Relaxation
        .trevelling
          .mask  
          p.text Trevelling
 container
    .interests
      h1  Crate your holiday activity
      p Hi! What are your holiday interests?
      .search
        input(type='text-search', placeholder='Enter  your insterests', 300px='')
        a.search-button  Search partners