footer 
 container
  .footer-title DREAMSHARE
  .company
    p Company 
    .a1
      a About
      a Contact
      a Press
      a Blog
    .a2
      a Terms and Privacy
      a Help
  .partners
    p Partners 
  .designed
    a DESIGNED BY
    .stiker
